body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* app */
.products-container {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
  padding: 15px;
}

/* product */
.product-container {
  border: 1px solid black;
  width: 340px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.edit-form {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* addproduct */

.add-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.add-product-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  padding: 10px;
  height: 250px;
  border-radius: 10px;
}
